<%= form_with model: @link do |form| %>
  <% if @link.errors.any? %>
    <div>
      <h2><%= pluralize(@link.errors.count, "error") %> prohibited this record from being saved:</h2>
      <ul>
        <% @link.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title, id: "link_title" %>
  </div>

  <div>
    <%= form.label :url %>
    <%= form.text_field :url, id: "link_url" %>
  </div>

  <%= form.submit "Submit!" %>

<% end %>
